
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	/*background: #EFEFEF url(../images/main-bg.jpg) repeat;*/
	font-family: 'Arial';
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #221D1D;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #091478;
}

a:hover {
}

#wrapper {
	padding: 0;
/* 	background: url(../images/main-image-bg.jpg) no-repeat center top; */
}

/* Header */

#header {
	clear: both;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}
.clearfix:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
/*Menu 1*/
#stylefour{
	position:relative;
	display:block;
	height:25px;
	/*width: 960px;*/
	font-size:11px;
	font-weight:bold;
/* 	background:transparent url(bgOFF.gif) repeat-x top left; */
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-top:4px solid #0066B3;
	margin: 0px auto 2px auto;
	border-bottom: 2px solid rgb(212, 212, 212);
	}

#stylefour ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#stylefour ul li{
	display:block;
	float:left;
	margin:0;
	}

#stylefour ul li a{
	display:block;
	float:left;
	color:#666;
	text-decoration:none;
	/*padding:11px 20px 0 20px;
	height:28px;
 	background:transparent url(bgDIVIDER.gif) no-repeat top right; */
	}

#stylefour ul li a:hover,#stylefour ul li a.current{
	color:#0066B3;
/* 	background:#fff url(bgON.gif) no-repeat top right; */
	
	}
/* Logo */

/* #logo { */
/* 	width: 1000px; */
/* 	height: 100px; */
/* 	margin: 0px auto 30px auto; */
/* 	color: #000000; */
/* 	float: right; */
/* } */

/* #logo h1, #logo p { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

/* #logo h1 { */
/* 	line-height: 150px; */
/* 	letter-spacing: -1px; */
/* 	text-align: center; */
/* 	text-transform: lowercase; */
/* 	font-size: 3.8em; */
/* } */

/* #logo p { */
/* 	float: left; */
/* 	margin: 0; */
/* 	padding: 26px 0 0 10px; */
/* 	text-align: center; */
/* 	color: #000000; */
/* }  */

/* #logo p a { */
/* 	color: #000000; */
/* } */

/* #logo a { */
/* 	border: none; */
/* 	background: none; */
/* 	text-decoration: none; */
/* 	color: #000000; */
/* } */

#clientlogo {
    background-color: rgb(0,102,179);
    border-bottom: 2px solid #0066B3;
    height: 50px;
    margin: 0 0 2px;
    overflow: hidden;
    width: 100%;
}
.logo {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
.systemName {
	 color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    vertical-align: middle;
   
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #323435;
	border-bottom: 4px solid #0974C4;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #000000;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #464032;
}

#search-submit {
	width: 50px;
	height: 23px;
	border: 1px solid #525252;
	background: #525252;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
}

/* Menu */

#menu {
	overflow: hidden;
	width: 1000px;
	padding: 15px 0px;
	margin: 0px auto 30px auto;
	background: #83003E;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #FFFFFF;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight:400;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/* Page */

#page {
	/*width: 960px;*/
	overflow: hidden;
/* 	width: 940px; */
	margin: 0px auto;
	padding: 5px 5px;
/* 	background: #FFFFFF; */
	border: 1px solid #D4D4D4;
	background: url("../images/main-bg.jpg") repeat scroll 0 0 #EFEFEF;
}

/* Content */

#content {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}

.post {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0px 20px 0px;
	letter-spacing: -1px;
	color: #101010;
}

.post .title a {
	color: #101010;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #292929;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta a {
	color: #BBBBBB;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	padding: 30px 0px 0px 0px;
	color: #383838;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #D4D4D4;
	margin: 0px 0px;
	border-right: none;
}

#sidebar li a {
	background: url(images/img03.gif) no-repeat left 6px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 1.8em;
	color: #101010;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #383838;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #181818;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */
/* FOOTER */
        div#footer {
            clear: both;
            margin: 0 auto;
            padding: 10px 0 20px 0;
            border-top: 4px solid #f0f0f0;
            width: 960px;
            text-align: center;
/*             background-color: white; */
            color: #808080;
            font-size: 0.9em;
        }

            div#footer a {
                color: #808080;
                text-decoration: none;
            }

            div#footer a:hover {
                text-decoration: underline;
            }

            div#footer p {
                margin: 0;
            }
            div#footer span.left, div#footer span.right {
                display: block;
                text-align: center;
                float: none;
                margin: 5px;
            }
    /* END FOOTER */

#three-columns {
	overflow: hidden;
	width: 100%;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 290px;
}

#three-columns #column3 {
	float: right;
	width: 300px;
}


#twocenter-columns {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 0px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}
#twocenter-columns #column1test {
	float: left;
	width: 440px;
	margin-right: 40px;
}
#twocenter-columns #row {
	float: left;
	width: 950px;
	margin-right: 40px;
	margin-left: 6px;
}
#twocenter-columns #row  .button1{
	margin-left: 6px;
	float: center;
}
#twocenter-columns #row .button2{
	margin-left: 100px;
}
#twocenter-columns #row .button3{
	margin-left: 194px;
}

#twocenter-columns #row .button4{
	margin-left: 288px;
}

#twocenter-columns #column2test {
	float: left;
	width: 440px;
}

#twocenter-columns .rowtest {
	float: left;
	width: 440px;
	height:40px;
	margin-right: 40px;
}
#twocenter-columns .typefile {
	float: left;
	width: 150px;
	height:40px;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
#twocenter-columns .rowtable {
	float: left;
	width: 440px;
	margin-right: 40px;
}

#twocenter-columns .viewtext {
	float: left;
	width: 100px;
	margin-right: 40px;
}
#twocenter-columns .checkbutton {
	float: left;
	width: 200px;
	margin-right: 40px;
	margin-top: 8px;
}
#twocenter-columns .messagecheck {
	float: left;
	width: 200px;
}
#twocenter-columns .inputtext{
	float: left;
	width: 250px;
}

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #83003E;
	color: #FFFFFF;
}


.link-style2 {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	background: #83003E;
	font-size: 20px;
	color: #FFFFFF;
}

#welcome {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	color: #000000;
}

#welcome a {
	color: #000000;
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
}


#two-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

#two-columns #col1 {
	float: left;
	width: 660px;
	color: #000000;
}

#two-columns #row {
	float: left;
	width: 980px;
	color: #000000;
}


#two-columns #col2 {
	float: right;
	width: 320px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}


#two-columns .image-style {
}


#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

/*form login*/
.box
{
/*     background:#ffffff; */
    border: 1px solid #C3D4DB;
	border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
}
.box.login
{
	height:260px;
    width:332px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-130px 0 0 -166px;
}
.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
    margin-left:0px
}

.box footer
{
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
	height:32px;
}
.box label
{
    display:block;
    font:12px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
    width: 150px;
}
.box footer label{
	float:left;
	margin:4px 0 0;
}
.box footer input[type=checkbox]{
	vertical-align:sub;
	*vertical-align:middle;
	margin-right:10px;
}


.box input[type=text].required
{
  	border-left: solid red;
}



.box input[type=text],
.box input[type=password]
{
    border:2px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:250px;
    display:block;
}

.txtField,
.cjComboBox
{
    border:2px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:250px;
    display:block;
}

.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:2px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
	color:#333;
}
.cjComboBox
{
    width:250px;
    margin-top: 7px;
   
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#999;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    float:left;
	padding:7px;
	width: 70px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.btnSubmit
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:10px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
	padding:2px;
}

.btnSubmit:hover,
.btnSubmit:focus,
.btnSubmit:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnSubmit:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}
.text-textarea{
	width: 951px; 
	height: 500px;
	font-family: 'Arial';
	
}
.viewtext-textarea1{
	width: 951px; 
	height: 350px;
	font-family: 'Arial';
	
}
.viewtext-textarea{
	width: 951px; 
	height: 500px;
	font-family: 'Arial';
	
}
input.inputDate {
	border: 1px solid #999;
	padding: 4px;
	border-bottom-color: #ddd;
	border-right-color: #ddd;
	width: 65px;
}

.error {
	color: red;
	margin-left: 6px;
}

footer#main{
	position:fixed;
	left:0;
	bottom:10px;
	text-align:center;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	width:100%;
}
<!--gach ngang -->
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable tr:hover
{
	 -moz-transition: all 0.1s ease-in-out 0s;
    background: none repeat scroll 0 0 #FBF8E9; 
}

.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 1px;border-style: solid;border-color: #729ea5;text-align:left;}
/* .tftable tr {background-color:#d4e3e5;} */
.tftable td {font-size:12px;border-width: 1px;padding: 0px 1px;border-style: solid;border-color: #729ea5;}

.tftable th.sorted a, th.sortable a {
    background-position: right center;
    display: block;
    width: 100%;
}

table.tftable tr:hover {
    -moz-transition: all 0.1s ease-in-out 0s;
    background: none repeat scroll 0 0 #FBF8E9;
}

.tftable th.sorted {
	background-color: #729EA5;
}

.tftable tr.waived td{
    background-color: #CCFFCC;
}

.tftable tr.post_return {
    /* font-weight: bold; */
    color: #DF141A;
}

.tftable tr.unwaived td{
    /*background-color: #404040;*/
}

.tftable tr.send_to_branch {
    /* font-weight: bold; 
    color: #DF141A;*/
}

.tftable tr.send_to_branch td{
    background-color: #99FF66;
}

.tftable tr.cs_not_ready td{
    background-color: #FF6633;
}
/* 
.tftable th.sortable a {
    background-image: url("../images/arrow_off.png");
    background-repeat: no-repeat
}

.tftable th.order2 a {
    background-image: url("../images/arrow_up.png");
    background-repeat: no-repeat
}

.tftable th.order1 a {
     background-image: url("../images/arrow_down.png");
     background-repeat: no-repeat
} */
span.excel {
    background-image: url("../images/ico_file_excel.png");
}
span.csv {
    background-image: url("../images/ico_file_csv.png");
}
span.xml {
    background-image: url("../images/ico_file_xml.png");
}
span.pdf {
    background-image: url("../images/ico_file_pdf.png");
}
span.rtf {
    background-image: url("../images/ico_file_rtf.png");
}
<!--span-->


