
body {
	background: #d3d3d3;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
}

.blue-section {
	background: #358cce;
	overflow: auto;
	padding: 20px;
	
	h1 {
		font-size: 32px;
		font-weight: 300;
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
	}
}

.container {
	color: white;
	margin: 0 auto;
	padding-bottom: 50px;
	overflow: auto;
	width: 1200px;
	
	p {
		margin: 0 50px;
	}
}

.plans {
	list-style: none;
	margin: 0;
	padding: 20px 40px;
}	
.plan {
		background: white;
		border-radius: 6px;
		height: 60px;
		margin: 10px 30px 10px 0px;
		opacity: 0.8;
		padding: 4px 25px;
		width: 350px;
		float: left;
}

.plan .highlight {
		opacity: 150;
}

.plan:hover {
		background: #e1f1d1;
}
	
.price {
			border-radius: 100%;
			cursor: default;
			display: block;
			float: left;
			height: 46px;
			line-height: 46px;
			margin: 8px 10px 0 0;
			text-align: center;
			width: 46px;
}					
.price-green{
	background-color: #e1f1d1;
	color: #52b327;
}
					
.price-red {
	background-color: #f1e1d1;
	color: #b35227;
}
		
.details {
	color: #222;
	display: block;
	float: left;
	height: 46px;
	margin: 8px 0;
	padding: 0px 10px;
}	
.plan-title {
	font-size: 17px;
	font-weight: normal;
	margin: 2px 0 0;
	padding: 0;
	text-transform: uppercase;
}
			
.plan-description {
	color: #666;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
		
		
.select {
	background: #358cce;
	border: none;
	border-radius: 4px;
	color: white;
	display: inline-block;
	float: right;
	font-size: 14px;
	margin: 15px 0;
	padding: 7px 16px;

}
.select:hover {
	background-color: #459cde;
}