.cnttool {
	margin: 10px;
	padding: 15px;
}

.rwf {
	height: 1%;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 4px;
	padding-left: 0;
}

.txtfleft {
	font-size: 9px;
	font-weight: normal;
	color: #454545;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	width: 50%;
	text-align: left;
	letter-spacing: -0.2px;
	line-height: 14px;
	padding-top: 4px;
	margin-top: 0px;
}
.txtfleft .lable {
	float: left;
	width: 120px;
	margin-top: 5px;
}

.txtfleftdocument {
	font-size: 9px;
	font-weight: normal;
	color: #454545;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	width: 300;
	text-align: left;
	letter-spacing: -0.2px;
	line-height: 14px;
	padding-top: 4px;
	margin-top: 0px;
}
.txtfleftdocument .labledocument {
	float: left;
	width: 300px;
	margin-top: 5px;
}

.txtfleft .lable1 {
	float: left;
	width: 100%;
	margin-top: 5px;
}
.txtfleft .permi {
	float: left;
	width: 100px;
	margin-top: 5px;
}
.txtfleft .space {
	float: left;
	line-height: 25px;
}
.txtfright {
	font-size: 9px;
	font-weight: normal;
	color: #454545;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	width: 50%;
	text-align: left;
	letter-spacing: -0.2px;
	line-height: 14px;
	padding-top: 4px;
	margin-top: 0px;
}
.txtfright .lable {
	float: left;
	width: 120px;
	margin-top: 5px;
}

.txtfright .lable1 {
	float: left;
	width: 100%;
	margin-top: 5px;
}
.txtfright .permi {
	float: left;
	width: 500px;
}
.txtfright .permi .permileft {
	float: left;
	width: 150px;
	margin-top: 5px;
	text-align: center;
}
.txtfright .permi .permiright {
	float: left;
	width: 350px%;
	margin-top: 5px;
}
.tform {
	font-size: 22px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	text-align: left;
	display: block;
	padding: 10px 0;
}

.decsform {
	padding-bottom: 8px;
	display: block;
	padding-top: 2px;
	margin: 0 0 10px 0;
}

.if1 {
	background-image: url(../images/bginput.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 22px;
	width: 200px;
	padding-top: 2px;
	padding-left: 10px;
	margin-left: 100px;
}
.if1 .inp1 {
	height: 18px;
	_height: 17px;
	width: 232px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #f8f8f8;
	font-size: 12px;
	color: #444;
	padding-top: 0;
	
}
.if2 {
	background-image: url(../images/bginput1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 22px;
	width: 155px;
	padding-top: 2px;
	padding-left: 10px;
	float: left;
	margin-right: 5px;
}

.if2 .inp2 {
	height: 18px;
	_height: 17px;
	width: 145px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #f8f8f8;
	font-size: 12px;
	font-weight: normal;
	color: #444;
	padding-top: 0;
}

.ifs1 {
	width: 280px;
	float: left;
	padding-top: 5px;
	padding-left: 20px;
	position: relative;
}
.btmtool {
	background-image: url(../images/shawdown2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 4px;
}
<!-- -->
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.red {
    background: -moz-linear-gradient(center top , rgb(237, 28, 36), rgb(170, 19, 23)) repeat scroll 0 0 transparent;
    border: 1px solid rgb(152, 12, 16);
    color: rgb(250, 221, 222);
}
.red:hover {
    background: -moz-linear-gradient(center top , rgb(201, 21, 27), rgb(161, 17, 21)) repeat scroll 0 0 transparent;
}
.red:active {
    background: -moz-linear-gradient(center top , rgb(170, 19, 23), rgb(237, 28, 36)) repeat scroll 0 0 transparent;
    color: rgb(222, 137, 140);
}
.bigrounded {
    border-radius: 2em 2em 2em 2em;
}

.tablesorter tr:hover { cursor: move; }
.left30 { width: 30%;}
.right70 { width: 70%;}

.imageClass {
	margin-left: 50px;
    }
